<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915947564132-tod7epi1idcb3cqdidtnajlm8fo4edd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915947564132-tod7epi1idcb3cqdidtnajlm8fo4edd0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>915947564132-m7fg7bnl63mkdjhp9ohb6ol5op5hof6h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbo-DRb_cXUrXUK7vZH1DjzaNqHW2VFK8</string>
	<key>GCM_SENDER_ID</key>
	<string>915947564132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leaf</string>
	<key>PROJECT_ID</key>
	<string>leaf-1700b</string>
	<key>STORAGE_BUCKET</key>
	<string>leaf-1700b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915947564132:ios:cdfa3485cf37b83238c371</string>
	<key>DATABASE_URL</key>
	<string>https://leaf-1700b.firebaseio.com</string>
</dict>
</plist>